.contain{
    border-radius: .5rem;
    margin: 1rem;
    box-shadow: inset 0 0 5px 2px rgb(149, 149, 149); 
    padding: .5rem .75rem;
}
.todo1{
    font-weight: 500;
    color: rgba(45, 45, 45, 0.94);
    font-size: 1.5rem;
    padding: .75rem 0;
    display: inline-block;
    max-width: 60%;
    overflow: auto;
    cursor: pointer;
}
.todo2{
  font-weight: 500;
    color: rgba(45, 45, 45, 0.94);
    font-size: 1.5rem;
    padding: .75rem 0;
    display: inline-block;
    max-width: 60%;
    overflow: auto;
    text-decoration: line-through;
    cursor: pointer;
}
.delete{
    margin: 10px .25rem;
    float: right;
    font-weight: 500;
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: .5rem;
    font-size: 1.25rem;
    padding: .5rem;
    cursor: pointer;
}
.date{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: 100;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 2px;
}
@media screen and (max-width: 575px){
    .contain, .delete, .todo{
        font-size: 1rem;
    }
    .todo{
        max-width: 45%;
    }
}